/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    width: 900px;
    margin: auto;
    background-color: #fff;
   
}
.header {
    padding: 20px;
    text-align: center;
    background-color: #0654c4;
    background-image: url(img/Screenshot_1-11-2025_12561_.jpeg);
    background-repeat: no-repeat;
    background-size: contain;   
      
}
body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(img/Calcio\ Como\ 1907\ Wallpaper.jpg);
    background-size: cover;
    color: #333;
}
.header .judul {
  font-family: "Keania One", sans-serif;
  font-weight: 200px;
  font-size: 60px;
  color: whitesmoke;

}
.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    font-weight: 5px;

}
.header a{
    text-decoration: none;
    padding: 3px; 
    color: #fff;
    position: relative;
    transition: .5s ease;
    
}
.header a:hover{
    background-color:rgb(0, 0, 0);
    color: white;
}
.header a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: whitesmoke;
    transition: width 0.3s ease;
}
.header a:hover::after{
    width: 100%;
}
.hero{
    height: 300px;
    background-image: url(img/Banner2.jpg);
    background-size: cover;
    border-bottom:5px solid whitesmoke ;
    border-top:5px solid whitesmoke;
}
.content{
    padding: 20px;
    background-image: url(img/pexels-scottwebb-3255761.jpg);
}
.content h2{
    font-size: 28px;
    font-weight: bold;
}


.content .penulis{
    font-size: 11px;
    margin-top: -5px;
}
.content .penulis a{
    text-decoration: none;
    
}
.content p{
    margin-bottom: 20px;
    font-size: 15px;
}
.footer{
    background-color: #0654c4;
    padding: 2px;
    
}
.footer .copy{
    color: whitesmoke;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}   
.end{
    height: 470px;
    background-image: url(img/como-1907.jpg);
    background-size: cover;
    border-bottom:5px solid #0654c4 ;
    border-top:5px solid whitesmoke ;
    border-right:5px solid whitesmoke  ;
    border-left:5px solid whitesmoke ;
}
.add{
    border-top: 25px solid #0654c4;
    text-decoration: none;
    padding: 20px;
    position: relative;
    z-index: 1;
     
}
.add::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(img/undefined\ \(2\).jpg) no-repeat;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}
.add h2{
    font-size: 28px;
    font-weight: bolder;
    padding-bottom: 20px;
    color: #eaeaea;
    
}
.add p{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}
.add a{
    text-align: start;
    color: lightblue;
    
}