* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oswald", sans-serif;
    overflow-x:hidden;
    background-color: #b7b7fd;
    /* padding-bottom: 150px; */

}

/* Navbar */
nav {
    display: flex;
    background-color: #0000c2;
    flex-direction: column;
    justify-content: center;
    padding-left: 40%;
    height: 120px;
    color: #b7b7fd;

}

nav .logo {
    font-family: "Lobster", sans-serif;
    width: 35%;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
  
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    margin-left: -20px ;
    justify-content: space-between;
    
}

nav ul li a {
    color:#b7b7fd ; 
    text-decoration: none;
    position: relative;
    transition: .5s ease;
    
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
    
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: whitesmoke;
    transition: width 0.5s ease;

}

nav a:hover::after{
    width: 100%;
}

/* container-satu */

.container-satu {
    max-width: 900px;
    height: 380px;
    margin: 50px auto;
    background-image: url(./img/bgimg.jpg);
    background-size: cover;
    background-position: 0 -20px;
    background-color: whitesmoke;
    padding: 20px;
    box-sizing: border-box;
    line-height: 1.5;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 25px 3px hsl(240, 96%, 50%);
    color: #b7b7fd;
}

.container-satu ul {
    list-style: none;

}

.container-satu ul li a {
    color: #b7b7fd;
    text-decoration: none;

}

.kolom {
    flex-grow: 3;
    order: 2;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.sidebar-satu {
    flex-grow: 2;
    order: 1;
    padding: 10px;

}

.sidebar-dua {
    flex-grow: 1;
    order: 3;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;

}
/* akhir container-satu*/

/* container-dua */
.container-dua {
    max-width: 800px;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    font-family:cursive;
}

.container-dua ul {
    list-style: none;

}

.container-dua h4 {
    text-align: center;
    padding-bottom: 10px;
}

.layanan {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 25px 3px rgb(252, 234, 234); 
    
}

.layanan.satu {
    background-color: rgb(0, 204, 255);
       
}
.layanan.dua {
    background-color: rgb(156, 243, 192);
    
    
}
.layanan.tiga {
    background-color: rgb(250, 198, 149);
  
}
/* akhir container dua */
/* container-tiga */
.container-tiga {
    background-color:#ffffff;
    width: 800px;
    margin: 100px auto;
    display: flex;
    box-shadow:0 0 40px 15px rgb(252, 234, 234);
}

.card {
    border: 1px solid rgb(252, 234, 234);
    border-radius: 10px;
    background-color:aliceblue ;
    overflow: hidden;
    margin: 10px;

}

.card .header {
    height: 150px;
    background-color:  #e5e5fc;

}

.card .content {
    text-align: center;
    margin: 20px auto;

}

.card.besar {
    transform: scale(1.12);
}
/* akhir container-tiga*/
/* footer */
.footer{
    height: 130px;
    background-image: url(./img/OIP-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-color: #0000c2;
    margin-top: 80px auto;
    padding-left: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  
}

.footer h4 {
   order: 2;
   padding: 60px;
   font-weight: 300;
    
}
.footer ul li {
    order: 1;
    list-style: none;
    padding-left: 100px;
    position: relative;
    top:40px;
    

}
.footer p {
    order: 3;
    padding: 20px;
    top: 20px;
    position: relative;
    text-transform: capitalize;
}



/* Hamburger */

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    bottom: 60px;
    right: -70px;
    margin-left: 150px;
    position: relative;

}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 30px;
    left: -8px;
    top: -3px;
    opacity: 0;
    z-index: 2;
   
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color:#b7b7fd;
    border-radius: 5px;
    transition: all 0.8s;

}


/* Hamburger Menu Animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;

}

.menu-toggle span:nth-child(3) {
    transform-origin: 0 50%;

}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
    
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(400deg); 
}

.menu-toggle input:checked ~ span:nth-child(4) {
     background-color: white;
    transform: rotate(320deg); 
}
.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: rotate(360deg);
}

/* Responsive Breakpoint */

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
    nav .logo{
        width:40%;
    }
    nav ul {
        width: 50%;
        margin-left: -25px;
    }
    .container-satu {
        width:600px;
        margin: 50px auto;

    }
    .kolom {
        font-size: 13px;
    }
    .sidebar-satu {
        font-size: 13px;
    }
    .sidebar-dua {
        font-size: 13px;
    }
    .container-dua {
        width: 700px;
        display: flex;
        justify-content: space-between;
    }
}


/* ukuran mobile */
@media screen and (max-width: 576px) {
    nav {
        max-width: 280px;
        background-color: #0000c2;
    }
    nav .logo{
        margin-top: 10px;
        margin-left: -20px; 
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 50px;
        height: 100vh;
        width: 45%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #0000c2;
        z-index: 0;
        transform: translateX(100%);
        transition: all 1.2s;
        opacity: 0;
    }
    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }
    .menu-toggle {
        display: flex;
        right: -30px;
    }
    .container-satu {
        width: 300px;
        height: max-content; 
        margin: 50px auto;
        flex-direction: column;
    }
    .kolom {
        font-size: 6x;
        order: 1;
        
    }
    .sidebar-satu{
        order: 4;

    }
    .sidebar-dua {
        color: #000983;
    }
    .container-dua {
        width: 400px;
        flex-direction: column;
        align-items: center;
    }
    .layanan {
        margin: 10px auto;
    }
    .container-tiga {
        width: 280px;
        flex-direction: column;
        align-items: center;  
    }
}