* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oswald", sans-serif;
    overflow-x:hidden;
}

/* Navbar */
nav {
    display: flex;
    background-color: #0000c2;
    flex-direction: column;
    justify-content: center;
    padding-left: 40%;
    height: 120px;
    color: #b7b7fd;
}

nav .logo {
    font-family: "Lobster", sans-serif;
    width: 35%;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
  
   
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    margin-left: -20px ;
    justify-content: space-between;
   
    
}

nav ul li a {
    color:#b7b7fd ; 
    text-decoration: none;
    
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
}



/* Hamburger */

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    bottom: 60px;
    right: -70px;
    margin-left: 150px;
    position: relative;

}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 30px;
    left: -8px;
    top: -3px;
    opacity: 0;
    z-index: 2;
  
   
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color:#b7b7fd;
    border-radius: 5px;
    transition: all 0.8s;
}


/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;

}

.menu-toggle span:nth-child(3) {
    transform-origin: 0 50%;

}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
    
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(380deg); 
}

.menu-toggle input:checked ~ span:nth-child(4) {
     background-color: white;
    transform: rotate(340deg); 
}
.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: rotate(360deg);
}








/* Responsive Breakpoint */

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
    nav .logo{
        width:40%;
    }
    nav ul {
        width: 50%;
        margin-left: -25px;
    }
}
/* ukuran mobile */
@media screen and (max-width: 576px) {
    nav .logo{
        margin-top: 10px;
       
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 50px;
        height: 100vh;
        width: 35%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #0000c2;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1.2s;
        opacity: 0;
    }
    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }
    .menu-toggle {
        display: flex;
    }
}